*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.-bottom-16 {
    bottom: -4rem
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.col-span-4 {
    grid-column: span 4 / span 4
}

.col-start-1 {
    grid-column-start: 1
}

.col-start-2 {
    grid-column-start: 2
}

.col-end-7 {
    grid-column-end: 7
}

.float-end {
    float: inline-end
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.mx-20 {
    margin-left: 5rem;
    margin-right: 5rem
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-20 {
    margin-bottom: 5rem
}

.ml-10 {
    margin-left: 2.5rem
}

.ml-12 {
    margin-left: 3rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-2 {
    margin-top: .5rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-16 {
    height: 4rem
}

.h-20 {
    height: 5rem
}

.h-28 {
    height: 7rem
}

.h-40 {
    height: 10rem
}

.h-60 {
    height: 15rem
}

.h-64 {
    height: 16rem
}

.h-72 {
    height: 18rem
}

.h-96 {
    height: 24rem
}

.min-h-24 {
    min-height: 6rem
}

.w-1\/6 {
    width: 16.666667%
}

.w-16 {
    width: 4rem
}

.w-20 {
    width: 5rem
}

.w-40 {
    width: 10rem
}

.w-56 {
    width: 14rem
}

.w-60 {
    width: 15rem
}

.w-64 {
    width: 16rem
}

.w-80 {
    width: 20rem
}

.w-96 {
    width: 24rem
}

.w-full {
    width: 100%
}

.flex-1 {
    flex: 1 1 0%
}

.flex-auto {
    flex: 1 1 auto
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.content-around {
    align-content: space-around
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-center {
    justify-content: center
}

.justify-items-stretch {
    justify-items: stretch
}

.gap-20 {
    gap: 5rem
}

.gap-4 {
    gap: 1rem
}

.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.75rem * var(--tw-space-x-reverse));
    margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.self-center {
    align-self: center
}

.overflow-hidden {
    overflow: hidden
}

.rounded {
    border-radius: .25rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-2xl {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem
}

.rounded-b-xl {
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.rounded-t-xl {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem
}

.border {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-solid {
    border-style: solid
}

.border-indigo-700 {
    --tw-border-opacity: 1;
    border-color: rgb(67 56 202 / var(--tw-border-opacity))
}

.border-orange-500 {
    --tw-border-opacity: 1;
    border-color: rgb(249 115 22 / var(--tw-border-opacity))
}

.border-orange-600 {
    --tw-border-opacity: 1;
    border-color: rgb(234 88 12 / var(--tw-border-opacity))
}

.border-purple-600 {
    --tw-border-opacity: 1;
    border-color: rgb(147 51 234 / var(--tw-border-opacity))
}

.border-sky-500 {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.border-sky-700 {
    --tw-border-opacity: 1;
    border-color: rgb(3 105 161 / var(--tw-border-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-black\/40 {
    background-color: #0006
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.bg-neutral-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity))
}

.bg-slate-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-slate-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.bg-slate-900\/50 {
    background-color: #0f172a80
}

.bg-slate-900\/90 {
    background-color: #0f172ae6
}

.bg-transparent {
    background-color: transparent
}

.bg-opacity-70 {
    --tw-bg-opacity: .7
}

.object-none {
    -o-object-fit: none;
    object-fit: none
}

.object-left-top {
    -o-object-position: left top;
    object-position: left top
}

.p-0 {
    padding: 0
}

.p-10 {
    padding: 2.5rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.pl-5 {
    padding-left: 1.25rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-60 {
    padding-top: 15rem
}

.text-center {
    text-align: center
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.tracking-tight {
    letter-spacing: -.025em
}

.text-cyan-100 {
    --tw-text-opacity: 1;
    color: rgb(207 250 254 / var(--tw-text-opacity))
}

.text-cyan-200 {
    --tw-text-opacity: 1;
    color: rgb(165 243 252 / var(--tw-text-opacity))
}

.text-gray-50 {
    --tw-text-opacity: 1;
    color: rgb(249 250 251 / var(--tw-text-opacity))
}

.text-indigo-300 {
    --tw-text-opacity: 1;
    color: rgb(165 180 252 / var(--tw-text-opacity))
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity))
}

.text-neutral-300 {
    --tw-text-opacity: 1;
    color: rgb(212 212 212 / var(--tw-text-opacity))
}

.text-orange-100 {
    --tw-text-opacity: 1;
    color: rgb(255 237 213 / var(--tw-text-opacity))
}

.text-orange-600\/85 {
    color: #ea580cd9
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.decoration-orange-600 {
    text-decoration-color: #ea580c
}

.decoration-wavy {
    text-decoration-style: wavy
}

.underline-offset-8 {
    text-underline-offset: 8px
}

.opacity-0 {
    opacity: 0
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-indigo-500\/40 {
    --tw-shadow-color: rgb(99 102 241 / .4);
    --tw-shadow: var(--tw-shadow-colored)
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-500 {
    transition-duration: .5s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.hover\:border-sky-500:hover {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.hover\:bg-cyan-700\/50:hover {
    background-color: #0e749080
}

.hover\:bg-gray-900:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.hover\:text-indigo-500:hover {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity))
}

.hover\:shadow-2xl:hover {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-sky-400:hover {
    --tw-shadow-color: #38bdf8;
    --tw-shadow: var(--tw-shadow-colored)
}

.group:hover .group-hover\:-translate-y-12 {
    --tw-translate-y: -3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:bg-indigo-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(67 56 202 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

.group:hover .group-hover\:opacity-50 {
    opacity: .5
}

@media (min-width: 640px) {
    .sm\:mb-0 {
        margin-bottom: 0
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
}

@media (min-width: 768px) {
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .md\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
}

@media (min-width: 1280px) {
    .xl\:mx-36 {
        margin-left: 9rem;
        margin-right: 9rem
    }

    .xl\:ml-0 {
        margin-left: 0
    }

    .xl\:ml-28 {
        margin-left: 7rem
    }

    .xl\:ml-40 {
        margin-left: 10rem
    }

    .xl\:mt-0 {
        margin-top: 0
    }

    .xl\:flex {
        display: flex
    }

    .xl\:grid {
        display: grid
    }

    .xl\:h-60 {
        height: 15rem
    }

    .xl\:h-full {
        height: 100%
    }

    .xl\:w-1\/3 {
        width: 33.333333%
    }

    .xl\:w-4\/5 {
        width: 80%
    }

    .xl\:w-96 {
        width: 24rem
    }

    .xl\:w-full {
        width: 100%
    }

    .xl\:p-10 {
        padding: 2.5rem
    }

    .xl\:p-8 {
        padding: 2rem
    }

    .xl\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .xl\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }

    .xl\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

    .xl\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .xl\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .xl\:pl-10 {
        padding-left: 2.5rem
    }

    .xl\:pl-52 {
        padding-left: 13rem
    }
}

@media (prefers-color-scheme: dark) {
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }
}

body {
    background-image: radial-gradient(circle, #4b01ae, #44009e, #3e008f, #370080, #310071, #2b0364, #250557, #1f064a, #1a083c, #16062d, #120320, #070011)
}

[data-astro-cid-25geizui],
[data-astro-cid-25geizui]:before,
[data-astro-cid-25geizui]:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#header[data-astro-cid-25geizui] {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center
}

h1[data-astro-cid-25geizui] {
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase
}

.tabs-container[data-astro-cid-25geizui] {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px
}

.sticky[data-astro-cid-25geizui] {
    position: fixed;
    top: 0
}

.tabs-container[data-astro-cid-25geizui] a[data-astro-cid-25geizui] {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 2px;
    transition: all .3s ease
}

.section[data-astro-cid-25geizui] {
    height: 100vh;
    justify-content: center;
    align-items: center
}

.box[data-astro-cid-zfufvvig] {
    display: flex;
    align-items: center;
    justify-content: center
}

.animation[data-astro-cid-zfufvvig] {
    font: 700 200% Consolas, Monaco, monospace;
    border-right: .1em solid white;
    width: 24.2ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(24, end), blink-caret .16s step-end infinite alternate
}

@keyframes typing {
    0% {
        width: 0
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent
    }
}

.image-container[data-astro-cid-6kov3kig] {
    position: relative;
    display: inline-block
}

.image-container[data-astro-cid-6kov3kig] img[data-astro-cid-6kov3kig] {
    width: 100%;
    height: auto
}

.overlay[data-astro-cid-6kov3kig] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01315a66;
    color: #fff;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity .3s
}

.image-container[data-astro-cid-6kov3kig]:hover .overlay[data-astro-cid-6kov3kig] {
    display: block
}

.overlay[data-astro-cid-6kov3kig] h2[data-astro-cid-6kov3kig] {
    opacity: 0;
    transition: opacity .3s
}

.image-container[data-astro-cid-6kov3kig]:hover .overlay[data-astro-cid-6kov3kig] h2[data-astro-cid-6kov3kig] {
    opacity: 1
}

.overlay[data-astro-cid-6kov3kig] h2[data-astro-cid-6kov3kig] {
    opacity: 0;
    transition: opacity .3s;
    text-align: left;
    animation: fadeIn 1s ease forwards
}

.borde[data-astro-cid-23jwhc3n] {
    border-radius: 2rem
}

kbd[data-astro-cid-ck6th427] {
    border: 2px solid #F26716;
    box-shadow: 2px 2px #f26716;
    font-weight: 700;
    padding: 2px 4px;
    margin-right: 4px;
    white-space: nowrap
}

.avilidades[data-astro-cid-vupetehv] {
    border-radius: 30px
}

.image-container[data-astro-cid-hyshjssp] {
    position: relative;
    display: inline-block
}

.image-container[data-astro-cid-hyshjssp] img[data-astro-cid-hyshjssp] {
    width: 100%;
    height: 100%
}

.overlay[data-astro-cid-hyshjssp] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01315a66;
    color: #fff;
    display: none;
    box-sizing: border-box;
    transition: opacity .3s
}

.image-container[data-astro-cid-hyshjssp]:hover .overlay[data-astro-cid-hyshjssp] {
    display: block
}

.overlay[data-astro-cid-hyshjssp] h2[data-astro-cid-hyshjssp] {
    opacity: 0;
    transition: opacity .3s
}

.image-container[data-astro-cid-hyshjssp]:hover .overlay[data-astro-cid-hyshjssp] h2[data-astro-cid-hyshjssp] {
    opacity: 1
}

.overlay[data-astro-cid-hyshjssp] h2[data-astro-cid-hyshjssp] {
    opacity: 0;
    transition: opacity .3s;
    text-align: left;
    animation: fadeIn 1s ease forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

button[data-astro-cid-gontm3z5] {
    position: relative;
    padding: 40px 80px;
    border-radius: 7px;
    border: 1px solid rgb(122, 77, 245);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #ffeaea;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all .2s ease-in
}

button[data-astro-cid-gontm3z5]:hover {
    background: #994bff;
    box-shadow: 0 0 30px 5px #9448f7d0;
    transition: all .2s ease-out
}

button[data-astro-cid-gontm3z5]:hover:before {
    animation: sh02 .5s 0s linear
}

button[data-astro-cid-gontm3z5]:before {
    content: "";
    display: block;
    width: 10px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skew(-20deg)
}

@keyframes sh02 {
    0% {
        opacity: 0;
        left: 0%
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        left: 100%
    }
}

button[data-astro-cid-gontm3z5]:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow .2s ease-in
}