---
import Layout from "../layouts/Layout.astro"
import NavBar from "../components/NabBar.astro"
import Hero from "../components/Hero.astro"

---

<Layout>
    <Hero/>
    <div class="px-7 xl:p-0">
        <NavBar/>
    </div>
</Layout>

