
<div class="w-80 h-96 bg-neutral-900 rounded-3xl text-neutral-300 p-4 items-start justify-center hover:bg-gray-900 hover:shadow-2xl hover:shadow-sky-400 transition-shadow grid grid-cols-6 gap-4 border-solid border-2 border-sky-500">
    <div class="col-start-2 col-span-4 py-">
        <img src="/porfolio-astro/perfilPhoto.jpg" alt="Image Perfill GItHub" class="rounded-2xl">
    </div>

    

    <div class="col-start-1 px-0 col-end-7">
        <p class="text-xl px-16 "> Link a mis redes: </p>
    </div>

    <div class="flex flex-row col-start-1 px-7">
        <div class="px-2">
            <button class="w-16 h-16 bg-transparent border-2 border-sky-700 rounded-full text-white font-semibold uppercase hover:border-sky-500 hover:shadow-md transition-all duration-400 ease-in-out">
                <img src="/porfolio-astro/git.svg" alt="Descripción de la imagen SVG"/>
            </button>
        </div>
        <div class="px-2">
            <button class="w-16 h-16 bg-transparent border-2 border-sky-700 rounded-full text-white font-semibold uppercase hover:border-sky-500 hover:shadow-md transition-all duration-400 ease-in-out">
                <img src="/porfolio-astro/mail.svg"  alt="Descripción de la imagen SVG" class="rounded-full"/>
            </button>
        </div>
        <div class="px-2">
            <button class="w-16 h-16 bg-transparent border-2 border-sky-700 rounded-full text-white font-semibold uppercase hover:border-sky-500 hover:shadow-md transition-all duration-400 ease-in-out">
                <img src="/porfolio-astro/mensage.svg" width="90%" height="90%" alt="Descripción de la imagen SVG"/>
            </button>
        </div>
    </div>
</div>


