---
import ImageCart from "./Image.astro"
import SocialData from "../config/Data.json"
---


<div class="bg-slate-800 p-6 rounded-xl flex container">
    <div class="flex-1 object-left-top">
    {
        SocialData.map((Data) => {
            return(
                <ImageCart 
                title={ Data.title }
                image={Data.image}
                contend={Data.conten}
            />
        );
        })
    }
    </div>
    <div class="xl:px-3 float-end">
        <a href="https://github.com/programateacademy/c9-interno-empleabilidad" class="w-1/6 relative w-xl flex-row-reverse overflow-hidden">
            <button class=" xl:w-full xl:h-full bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded xl:flex items-center justify-center">
                <img src="/porfolio-astro/chechSvg.svg" class="w-20 h-20" alt="">
            </button>
        </a>
    </div>
</div>


