<div class="grap xl:flex space-x-3">

    <a href="https://github.com/DaironRV" class="">
        <img src="/porfolio-astro/pcIcon.svg" class="mx-20 xl:p-10 min-h-24 mb-10 xl:mx-36 "></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight dark:text-white text-center "> Full Stack </h5>
        <p class="font-normal text-indigo-3 text-indigo-300"> Como <kbd class="bg-indigo-600 text-white"> DESARROLLADOR FULL STACK</kbd>, he adquirido habilidades sólidas en el desarrollo tanto del lado del servidor como del cliente. Mi formación en  <kbd class="bg-indigo-600 text-white">EducaMás</kbd> me ha proporcionado una base sólida en las tecnologías y prácticas necesarias para crear <kbd class="bg-indigo-600 text-white">APLICACIONES WEB</kbd> completas. Durante mi tiempo en Educamas, he trabajado en proyectos que abarcan desde la creación de <kbd class="bg-indigo-600 text-white">APIs</kbd> hasta la implementación de <kbd class="bg-indigo-600 text-white ">Interfaces de usuario </kbd>altamente interactivas.</p>
    </a>

    <a href="https://github.com/programateacademy/c9-interno-empleabilidad" class="">
        <img src="/porfolio-astro/Brush.svg"  class="mx-20 mt-10 xl:mt-0 xl:p-10 min-h-24 mb-10 xl:mx-36" ></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight dark:text-white text-center">Diseñador</h5>
        <p class="font-normal text-indigo-3 text-indigo-300">Como <kbd class="bg-indigo-600 text-white">DISEÑADOR</kbd> de experiencia de usuario ( <kbd class="bg-indigo-600 text-white">UX</kbd> ), he tenido la oportunidad de trabajar en diversos <kbd class="bg-indigo-600 text-white">Proyectos web </kbd>. Mi formación en <kbd class="bg-indigo-600 text-white">Educamas</kbd> me ha proporcionado una base sólida en las prácticas y herramientas necesarias para crear experiencias digitales atractivas y funcionales. Uno de mis logros destacados fue el diseño completo de la <kbd class="bg-indigo-600 text-white">Página de estado de empleabilidad</kbd>, la cual recibió una <kbd class="bg-indigo-600 text-white">APROVACIÓN</kbd> del cliente superior al <kbd class="bg-indigo-600 text-white" >80%</kbd></p>
    </a>

    <a href="https://www.linkedin.com/in/dairon-rodriguez-a3615628b/" class="">
        <img src="/porfolio-astro/Books.svg"  class=" mt-10 mx-20 xl:mt-0 xl:p-10 min-h-24 mb-10 xl:mx-36"></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight dark:text-white text-center">Apasionado</h5>
        <p class="font-normal text-indigo-3 text-indigo-300">Como <kbd class="bg-indigo-600 text-white"> Apasionado Desarrollador</kbd>, mi enfoque va <kbd class="bg-indigo-600 text-white">Más allá</kbd> de la mera implementación de código. Cada línea que escribo es un paso hacia el conocimiento y la excelencia. Mi avidez por <kbd class="bg-indigo-600 text-white">Aprender es insaciable</kbd>, y estudio con una pasión ardiente. No se trata solo de resolver problemas; se trata de sumergirme en el mundo de las tecnologías emergentes y descubrir Nuevas formas de <kbd class="bg-indigo-600 text-white">Crear soluciones innovadoras.</kbd></p>
    </a>
</div>

<style>

    kbd{
        border: 2px solid   #F26716;
        box-shadow:2px 2px #F26716;
        font-weight: bold;
        padding: 2px 4px;
        margin-right: 4px;
        white-space: nowrap;
    }

</style>