<div class="flex space-x-3">

    <a href="https://github.com/DaironRV" class="">
        <img src="/pcIcon.svg" class="p-10 min-h-24  mb-10 mx-36 "></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight dark:text-white text-center text-indigo-500"> Full Stack </h5>
        <p class="font-normal text-indigo-3 text-indigo-300"> Como <kbd class="bg-indigo-600 text-white"> DESARROLLADOR FULL STACK</kbd>, he adquirido habilidades sólidas en el desarrollo tanto del lado del servidor como del cliente. Mi formación en  <kbd class="bg-indigo-600 text-white">EducaMás</kbd> me ha proporcionado una base sólida en las tecnologías y prácticas necesarias para crear <kbd class="bg-indigo-600 text-white">APLICACIONES WEB</kbd> completas. Durante mi tiempo en Educamas, he trabajado en proyectos que abarcan desde la creación de <kbd class="bg-indigo-600 text-white">APIs</kbd> hasta la implementación de <kbd class="bg-indigo-600 text-white">Interfaces de usuario altamente interactivas.</kbd></p>
    </a>

    <a href="https://github.com/programateacademy/c9-interno-empleabilidad" class="">
        <img src="/Brush.svg"  class="p-10 min-h-24 mb-10 mx-36" ></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Diseñador</h5>
        <p class="font-normal text-indigo-3 text-indigo-300">Como <kbd class="bg-indigo-600 text-white">DISEÑADOR</kbd> de experiencia de usuario ( <kbd class="bg-indigo-600 text-white">UX</kbd> ), he tenido la oportunidad de trabajar en diversos <kbd class="bg-indigo-600 text-white">Proyectos web </kbd>. Mi formación en Educamas me ha proporcionado una base sólida en las prácticas y herramientas necesarias para crear experiencias digitales atractivas y funcionales. Uno de mis logros destacados fue el diseño completo de la página de estado de empleabilidad, la cual recibió una aprobación del cliente superior al 80%</p>
    </a>

    <a href="https://www.linkedin.com/in/dairon-rodriguez-a3615628b/" class="">
        <img src="/Books.svg"  class="p-10 min-h-24 mb-10 mx-36"></img>
        <h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Apasionado</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Como desarrollador Full Stack, he adquirido habilidades sólidas en el desarrollo tanto del lado del servidor como del cliente. Mi formación en Educamas me ha proporcionado una base sólida en las tecnologías y prácticas necesarias para crear aplicaciones web completas. Durante mi tiempo en Educamas, he trabajado en proyectos que abarcan desde la creación de APIs hasta la implementación de interfaces de usuario altamente interactivas.</p>
    </a>
</div>

<style>

    kbd{
        border: 2px solid   #F26716;
        box-shadow:4px 4px #F26716;
        font-weight: bold;
        padding: 2px 4px;
        margin-right: 4px;
        white-space: nowrap;
    }

</style>