---
import CartImage from './CartProyectImage.astro'
---


<div class="bg-slate-900/50 py-5 px-10 border-solid borde border-2 border-sky-500 shadow-2xl">
    <CartImage/>
    <p class="py-2 text-5xl text-cyan-200">Proyectos 🤓</p>
</div>

<style>
    .borde{
        border-radius: 2rem ;
    }
</style>