<div class="h-72 w-full bg-black/40">
  <div class="xl:grid grid-cols-3 mx-10 pt-10">
    <div class="rounded-full bg-slate-200 h-60 w-60 ml-12  xl:ml-0">
      <img
        src="/porfolio-astro/perfilPhoto.jpg"
        alt="Image Perfil"
        class="rounded-full bg-slate-200 h-60 w-60"
      />
    </div>  
    <div class="grid my-10">
      <a href=""  class="text-2xl text-center text-indigo-500">Sobre MI</a>
      <a href="mailto:dairon.rodriguezvega@gmail.com?subject=Estoy interesad@ en contratarte" class="text-xl text-center text-indigo-500">Correo</a>
      <a href="https://github.com/DaironRV" class="text-xl text-center text-indigo-500">Git Hub</a>
      <a href="https://www.linkedin.com/in/dairon-rodriguez-a3615628b/"  class="text-xl text-center text-indigo-500">Linkedin</a>
    </div>

    <div class="grid my-10">
        <a href="https://github.com/DaironRV" class="text-2xl text-center text-indigo-500">Más Proyectos</a>
        <a href="https://daironrv.github.io/Fan-Black-Library/" class="text-xl text-center text-indigo-500">Pagina Black Library</a>
        <a href="https://daironrv.github.io/Cliente/" class="text-xl text-center text-indigo-500">Pagina Diplomas cliente Free lance</a>
        <a href="https://github.com/DaironRV/Juego-adivina-la-palabra/blob/main/ahorcado.py" class="text-xl text-center text-indigo-500">Mini Juegos</a>
      </div>
  </div>
</div>
