<div class="h-72 w-full bg-black/40">
  <div class="grid grid-cols-3 mx-10 pt-10">
    <div class="rounded-full bg-slate-200 h-60 w-60">
      <img
        src="/perfilPhoto.jpg"
        alt="Image Perfil"
        class="rounded-full bg-slate-200 h-60 w-60"
      />
    </div>  

    <div class="grid">
      <a class="text-xl text-center">lorem</a>
      <a class="text-xl text-center">lorem</a>
      <a class="text-xl text-center">lorem</a>
      <a class="text-xl text-center">lorem</a>
    </div>

    <div class="grid">
        <a class="text-xl text-center">lorem</a>
        <a class="text-xl text-center">lorem</a>
        <a class="text-xl text-center">lorem</a>
        <a class="text-xl text-center">lorem</a>
      </div>
  </div>
</div>
