---
import Avilidades from './cartAvilidades.astro'
---

<div class="border-2 py-10 px-10 avilidades border-orange-500 backdrop-blur-sm  ">
    <Avilidades></Avilidades>
</div>


<style>
    .avilidades{
        border-radius: 30px;
    }
</style>