

<div class="bg-red-600 py-96">
    <div class="animation col-start-1 col-end-7 text-center text-4xl font-bold text-orange-100 ">
        Dairon Rodriguez Vega 🖖
    </div>
</div>

<style>
    body {
        background-color: #090E13;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .animation {
        font: bold 200% Consolas, Monaco, monospace;
        border-right: .1em solid white;
        width: 24.2ch;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 3s steps(24, end), blink-caret .16s step-end infinite alternate;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink-caret {
        50% {
            border-color: transparent;
        }
    }

</style>