---
interface ITecnologis{
    Title:string
    Image: string
    Content:string
}

const {Title, Image,Content} = Astro.props
---


<div
  class="relative group cursor-pointer overflow-hidden duration-500 w-60 h-64 border-2 border-indigo-700 text-gray-50 p-5 rounded-t-xl rounded-b-xl shadow-lg shadow-indigo-500/40 mb-10"
>
  <div class="">
    <img src={ Image } alt={ Title } class=" h-40 w-60">
    <div
      class="absolute w-56 left-0 p-5 -bottom-16 duration-500 group-hover:-translate-y-12"
    >
      <div
        class="absolute left-0 w-64 h-28 opacity-0 duration-500 group-hover:opacity-50 group-hover:bg-indigo-700"
      ></div>
      <span class="text-xl font-bold">{ Title }</span>
      <p class="group-hover:opacity-100 w-56 duration-500 opacity-0">
        { Content }
      </p>
    </div>
  </div>
</div>
