---
import FourCarts from './CuatroCarts.astro'
import OneCart from './UnaCarta.astro'
---
<div class="grid grid-cols-2 rounded-xl p-8 mx-10 border-2 border-orange-600">
    <FourCarts/>
    <div class=" pl-52 grid grid-cols-3 gap-4 content-around">
        <OneCart/>
    </div>
</div>