---
import FourCarts from './CuatroCarts.astro'
import OneCart from './UnaCarta.astro'
---
<div class="flex-auto  xl:grid grid-cols-2 rounded-xl p-8 mx-10 border-2 border-orange-600">
    <FourCarts/>
    <div class="flex-auto xl:pl-52 xl:grid grid-cols-3 gap-4 content-around">
        <OneCart/>
    </div>
</div>