---
import FourCarts from './CuatroCarts.astro'
import OneCart from './UnaCarta.astro'
---
<div class="grid grid-cols-2 gap-4 rounded-xl p-10 mx-10 border-2 border-orange-600">
    <FourCarts/>
</div>