---
import Buttom from './ContactaConMigo.astro'
---

<div class="xl:grid grid-cols-2 rounded-xl p-0 xl:p-8 mx-20 h-96">
    <div class="flex items-center xl:ml-28 mb-20">
        <h1 class="text-orange-600/85 hover:text-indigo-500 text-6xl underline underline-offset-8">Contacta conmigo </h1>
    </div>
    <div class="flex items-center xl:ml-40">
        <Buttom/>
    </div>
</div>