---
import NavBar from "../components/NabBar.astro"
interface Props{
    title? : string;
}

const { title } = Astro.props 

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document || { title }</title>
</head>
<body>

    <main>
		<slot/>
	</main>

</body>

<style>
    body{
        background-image: radial-gradient(circle, #4b01ae, #44009e, #3e008f, #370080, #310071, #2b0364, #250557, #1f064a, #1a083c, #16062d, #120320, #070011); 
    }
</style>