---
import Contenido from '../../config/DataProyectos.json'
import CartProyectosContenido from './ProyectosImage.astro' 
---

<div class="container-lg  mx-5 backdrop-blur-sm bg-slate-500/20 rounded-3xl border-2 border-purple-600 ">
    <ul class="grid grid-cols-2 gap-4 p-10 ">
        {
            Contenido.map((Contenido)=>{
                return(
                    <CartProyectosContenido
                    title={Contenido.Title} 
                    tecnologis={Contenido.Tecnologias}
                    image ={Contenido.Image}
                    url={Contenido.url}
                    />
                )
            })
        }
    </ul>
</div>
<!-- Esta es com tal toda la carta con los botones y todo -->