---
interface IContenido{
    title: string
    tecnologis:string
    image : string
    url?: string
}

const {title, tecnologis, image, url} = Astro.props
---
<!-- aqui va a ser para rendersizar las imagenes como tal -->


<li class=" bg-slate-900/90 p-6 rounded-2xl justify-items-stretch h-30 xl:h-72 my-10">
    <div class="flex space-x-6">
        <div class="container image-container w-full h-60 ">
            <img src={ image } alt={ title } class="rounded-2xl">
            <div class="overlay rounded-lg overlay absolute p-4">
              <h2 class="md:text-3xl text-orange-100 ">{ title }</h2>
              <h3 class=" md:text-lg  underline  decoration-wavy decoration-orange-600 text-orange-100">{ tecnologis }</h3>
            </div>
        </div>
        <a href={ url } class="bg-blue-500 hover:bg-blue-700 rounded-t-2xl rounded-b-2xl flex items-stretch ">
            <img src="/porfolio-astro/chechSvg.svg" alt="" class="w-20 h-20 self-center">
        </a>
    </div>
</li>

<style>
  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    width: 100%; 
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 49, 90, 0.4);
    color: #fff;
    display: none;
    box-sizing: border-box;
    transition: opacity 0.3s;
  }

  .image-container:hover .overlay {
    display: block;
  }

  .overlay h2 {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .image-container:hover .overlay h2 {
    opacity: 1;
  }
  .overlay h2 {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left; 
    animation: fadeIn 1s ease forwards; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>